body {
  margin: 0;
  display: flex;
  padding: 6.4px;
  position: relative;
  background: linear-gradient( 
  180deg
  , #303030 65%, #2196f36e 300%);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  border: none;
  height: auto;
  padding: 16px;
  position: relative;
  width: auto;
  box-shadow: -1px -3px 10px 1px #ff803821, 1px 3px 10px 1px #ff803821;
  border-radius: 0.9em;
  flex-direction: column;
}